.cardDynamicManipulation{    
    overflow-x: scroll;        
}
.datesHere{
    position: relative;
    display: inline-flex;    
}
.activeMonth{
    color: greenyellow;
}
.notActiveMonth{
    color: gray;
}


