.card-schedule, .weekly_card_schedule{
    position: relative;            
    top: 0;
    left: 2px;
    height: 46vh;
    width: 15vw !important;
    border: 4px solid black;
    border-radius: 16px;
    margin: 2px;
}
.weekly_card_schedule{
    height: 46vh !important;
}
.schedule-date-today{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    border: 1px solid black; 
    border-radius: 8px 8px 0 0;  
    align-content: center;
    text-align: center;
}
.schedule-row-guest, .schedule-row-date, .schedule-row-package{
    position: relative;
    width: 100%;
    height: 5vh;    
    align-content: center;
    text-align: center;
    border: 1px solid black;     
}

.schedule-row, .schedule-row-DP{
    position: relative;
    display: flex;    
    width: 100%;
    height: 5vh;
    align-content: center;
    text-align: center;
    border: 1px solid black;    
}
.schedule-cell, .schedule-cell-DP{
    position: relative;      
    width: calc(100% / 2);
    height: 5vh;
    align-content: center;
    text-align: center;
    border: 1px solid black; 
}

.schedule-row-DP, .schedule-cell-DP{
    border: 1px solid transparent !important;
}

.active-active{
    border: 8px solid red !important;
}

.booked-card{
    background: blue;
}

.finished-card{
    background: green;
}